<%= simple_form_for @compensation do |f| %>

<div class="container">
  <div class="travels">
    <div class="row">
        <%= f.collection_radio_buttons(:trip_ids,  format_trips(Trip.pending), :first, :last) %>

    </div>
  </div>
<!--
  <div class="btn btn-primary" type="button"  data-toggle="modal" data-target="#exampleModal">
  </div> -->
<!-- add Event listener tick button radio => action (press button clean) -->
<div class="container">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Choose you compensation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="logo-projects">
          <div class="row">
            <div class="">
              <%= f.collection_radio_buttons :project_id, format_project(Project.all), :first, :last %>
              <%= f.button :submit %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<% end %>





<div class="container">
  <!-- <div class="travels">
    <div class="list-inline">
      <% @trips.each do |trip| %>
        <% if trip.compensation.nil? %>
        <button class="travels-to-clean travel" type="button"  data-toggle="modal" data-target="#exampleModal">
          <div><p><i class="fa <%= trip.transportation.icon %> " aria-hidden="true"></i>     Paris<%= trip.start_address %> - Bordeaux<%= trip.destination_address %></p></div>
          <div><p><%= km_total(trip.km, trip.number) %>km</p></div>
          <div><p><%= (trip.transportation.emission * km_total(trip.km, trip.number)).round(2) %>kg CO2</p></div>
        </button>
        <br>
        <% end %>
      <% end %>
    </div>
  </div> -->
  <div class="travels">
    <div class="list-inline">
      <% @trips.each do |trip| %>
        <% if trip.compensation.present? %>
        <div class="travels-cleaned travel">
          <div><p><i class="fa <%= trip.transportation.icon %> " aria-hidden="true"></i>     Paris<%= trip.start_address %> - Bordeaux<%= trip.destination_address %></p></div>
          <div><p><%= image_tag trip.compensation.project.logo, class:'logo-project-list'%></p></div>
          <div><p><%= (trip.transportation.emission * km_total(trip.km, trip.number)).round(2) %>kg CO2</p></div>
        </div>
        <br>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Modal -->
  <!-- <div class="container">
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Choose you compensation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="logo-projects">
            <div class="row">
              <% @projects.each do |project| %>
                <div class="col-xs-6">
                  <button class="bouton-logo">
                    <%#= link_to '', trip_compensations_path(@trip) %>
                    <%= image_tag project.logo, class:'logo-project-modal' %>
                  </button class="bouton-logo">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!--
    <ul class="rolldown-list" id="myList">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
      <li>Five</li>
      <li>Six</li>
      <li>Seven</li>
      <li>Eight</li>
    </ul>

    <button id="btnReload">Reload</button>



  <%= content_tag :after_js do  %>
    <script>
        // Increments the delay on each item.
      $('.rolldown-list li').each(function () {
      var delay = ($(this).index() / 4) + 's';
      $(this).css({
        webkitAnimationDelay: delay,
        mozAnimationDelay: delay,
        animationDelay: delay
      });
      });

      $('#btnReload').click(function () {
      $('#myList').removeClass('rolldown-list');
      setTimeout(function () {
        $('#myList').addClass('rolldown-list');
      }, 1);
      });
    </script>
  <% end %> -->
