<%= simple_form_for @compensation do |f| %>

  <div class="container">
    <div class="travels">
      <div class="row">
          <%= f.collection_radio_buttons(:trip_ids, format_trips(Trip.pending), :first, :last) %>
      </div>
    </div>
  <!--
    <div class="btn btn-primary" type="button"  data-toggle="modal" data-target="#exampleModal">
    </div> -->
  <!-- add Event listener tick button radio => action (press button clean) -->
  <div class="container">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel">Choose you compensation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="logo-projects">
              <div class="row">
                <div class="">
                  <%= f.collection_radio_buttons :project_id, format_project(Project.all), :first, :last %>
                  <%= f.button :submit %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
    <div class="body-travel">
     <div class="view">
    	<div class="card__full">
    		<div class="card__full-top">
    			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    					<path d="M16.59 8.59l-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/>
    					<path d="M0 0h24v24h-24z" fill="none"/>
    			</svg>
          <!-- <div class="top-card"> -->
            <span class="card__full-num list-inline"></span>

          <!-- </div> -->

            <!-- créer 2 div en plus : Co2 top left // € top right  -->
        </div>
    		<div class="card__full-bottom">
    			<p class="card__full-handle"></p>
    			<p class="card__full-info"></p>
    		</div>
    	</div>
      	<ul class="card__list">
        <% current_user.trips.clean.each do |trip| %>
          <li class="card__item card__item--blue">
      			<div class="card__info">
      				<div class="info-player">
                <p><%= image_tag trip.compensation.project.logo, class:'logo-project-list info-player__num'%></p>
                <p class="info-player__name"><%= trip.start_address %> - <%= trip.destination_address %></p>
              </div>
              <i class="fa <%= trip.transportation.icon %> info-place " aria-hidden="true"></i>
      			</div>
      		</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

  <%= content_for :after_js do  %>
  <script>

  $( document ).ready(function() {
  var Cards = (function() {

var view 	= $('.view');
var vw 		= view.innerWidth();
var vh	 	= view.innerHeight();
var vo 		= view.offset();
var card 	= $('.card__item');
var cardfull = $('.card__full');
var cardfulltop = cardfull.find('.card__full-top');
var arrow = cardfulltop.find('svg');
var cardnum = cardfulltop.find('.card__full-num');
var cardhandle = cardfull.find('.card__full-handle');
var cardinfo = cardfull.find('.card__full-info');
var w 		= $(window);

var data = [

    <% current_user.trips.clean.each do |trip| %>
  {
    img: '<p class="emission"><%= (trip.transportation.emission * km_total(trip.km, trip.number)).round(2) %> kg CO2 </p> <%= image_tag trip.compensation.project.logo, class:"logo-project-list info-player__num"%>  <p class="euros"> <%= trip.compensation.amount %>€</p>',
    handle: '<div>de : <%= trip.start_address %> <br /> à : <%= trip.destination_address %></div>',
    info: '<div class="text-center card-open-infos"> <i class="fa <%= trip.transportation.icon %> info-place card-open-transport " aria-hidden="true"></i>\
     <p class="card-open-km"> <%= km_total(trip.km, trip.number).round(2)%> km</p> </div>'
  },
  <% end %>
];

var moveCard = function() {
  var self = $(this);
  var selfIndex = self.index();
  var selfO = self.offset();
  var ty = w.innerHeight()/2 - selfO.top -4;

  var color = self.css('border-top-color');
  cardfulltop.css('background-color', color);
  cardhandle.css('color', color);

  updateData(selfIndex);

  self.css({
    'transform': 'translateY(' + ty + 'px)'
  });

  self.on('transitionend', function() {
    cardfull.addClass('active');
    self.off('transitionend');
  });

  return false;
};

var closeCard = function() {
  cardfull.removeClass('active');
  cardnum.hide();
  cardinfo.hide();
  cardhandle.hide();
  cardfull.on('transitionend', function() {
    card.removeAttr('style');
    cardnum.show();
    cardinfo.show();
    cardhandle.show();
    cardfull.off('transitionend');
  });
};

var updateData = function(index) {
  cardnum.html(data[index].img);
  cardhandle.html(data[index].handle);
  cardinfo.html(data[index].info);
};

var bindActions = function() {
  card.on('click', moveCard);
  arrow.on('click', closeCard);
};

var init = function() {
  bindActions();
};

return {
  init: init
};

}());

Cards.init();
});
  </script>
  <% end %>
