
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseForm" aria-expanded="true" aria-controls="collapseForm">
          Ajouter un trajet
        </a>
      </h4>
    </div>
    <div id="collapseForm" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <h3>Rentrez votre trajet</h3>
        <%= simple_form_for @trip, url: trips_path( url: request.path ) do |f| %>
          <%= f.input :start_address, label: false, placeholder: "Adresse de départ", error: 'Veuillez indiquer une adresse de départ' %>
          <%= f.input :destination_address, label: false, placeholder: "Adresse d'arrivée", error: 'Veuillez indiquer une adresse d\'arrivée' %>
          <%= f.association :transportation, label: 'Moyen de transport', error: 'Le moyen de transport doit faire partie de la liste fournie' %>
          <%= f.collection_radio_buttons :num_return, [[2, 'Aller retour'] ,[1, 'Aller simple']], :first, :last %>
          <br>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= f.input :occasional, as: :boolean, label: "Occasionnel", input_html: { data: { toggle: "collapse", target: "#occasional" } } %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= f.input :recurring, as: :boolean, label: "Récurrent", input_html: { data: { toggle: "collapse", target: "#recurring" } } %>
            </div>
          </div>
          <br>
          <!--occasionnal trip form-->
          <div id="occasional" class="collapse">
            <%= f.input :number_of_times, as: :integer, label: 'Nombre de voyages', placeholder: '1' %>
          </div>

          <!--recurring trip form-->
          <div id="recurring" class="collapse">
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <%= f.input :number_per, as: :integer, label: 'Récurrence', placeholder: '1' %>
              </div>
              <div class="col-sm-12 col-md-2">
                <div class ="text-center" style = "height:20px;padding-left: 10px;"></div>
                fois par
              </div>
              <div class="col-sm-12 col-md-5">
                <%= f.input :time_unit, collection: [ 'jour', 'semaine', 'mois' ] %>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-8">
                  <div style="padding-left: 16px;">
                    <%= f.input :date_since, as: :date, label: 'Depuis le' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>







<!-- form elements -->
<%#= f.collection_radio_buttons :recurring, [[true, 'Récurrent'] ,[false, 'Occasionnel']], :first, :last %>

  <!-- = f.input_field :some_checkbox, input_html: { style: "display: none"}, label_html: { class: "btn btn-primary"}
  = f.input_field :some_checkbox, input_html: { style: "display: none"}, data: {target: "#recurringGift", toggle: "collapse"} -->

<!-- data: {target: "#occasional", toggle: "collapse"} -->
  <%#= f.label :some_checkbox, class: "btn btn-primary" %>

  <!-- <button class="btn btn-default" data-toggle="collapse" data-target="#occasional" type="button">
    Occasionnel
  </button> -->
  <!-- <button class="btn btn-default" data-toggle="collapse" data-target="#recurring" type="button">
    Récurrent
  </button> -->
<!-- iframe footprint -->
<!-- <iframe width="710" height="1300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="https://calculator.carbonfootprint.com/calculator.aspx"></iframe>

<iframe width="710" height="750" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" src="https://calculator.carbonfootprint.com/calculator.aspx?c=flight"></iframe> -->
