

<div class="wrapper wrapper-game">
  <div class="bar-container">
    <div class="bar-icons">
      <%= image_tag "levels/level-#{current_user.trips.level_index}.png" %>
      <%= image_tag "levels/level-#{current_user.trips.level_index + 1}.png" %>
    </div>
    <div class="bar-background">
      <div class="bar-progress" style="width: <%= 100 * @relative_score %>%" >
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% current_user.trips.levels.each_with_index do |level, i| %>
        <div class="col-xs-12">
          <div class="level-inline <%= 'level-active' if i == current_user.trips.level_index %>">
            <%= image_tag level[:image] %>
            <p><%= level[:content] %></p>
            <p><%= level[:value] %></p>
          </div>
        </div>
      <% end  %>
    </div>
  </div>

</div>
