<div class="footer">


  <%= link_to 'Share on <i class="fa fa-facebook-official"></i>'.html_safe,"https://www.facebook.com/sharer/sharer.php?u=footprint.ninja" , class: "next-to-last" %>
  <%#= link_to "Share on Facebook", "https://www.facebook.com/sharer/sharer.php?u=footprint.ninja", class: "next-to-last" %>

  <%= link_to 'Contact', 'mailto:nathan@clean.com'%></li>

  <p><i class="fa fa-github" aria-hidden="true"></i> <%= link_to 'Reka', 'https://github.com/Reka85', target: '_blank' %>, <%= link_to 'Louis', 'https://github.com/louismathe', target: '_blank' %> & <%= link_to 'Nathan', 'https://github.com/NathanHuberty', target: '_blank' %></p>
</div>
