<style>
  /*.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}*/
  .img-round{
    border-radius: 50%;
    height:30vh;
    margin: 26px 0px;
  }

/*.content {
    padding-bottom: 70px;
}*/
/*.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}*/

/*.content {
  padding-top: 40px;
}*/

/*@media screen and (max-width: 767px) {
    .content {
        padding-bottom: 0;
    }
    .footer {
        position: relative;
        top: auto;
        left: auto;
        height: 70px;
    }
}*/
</style>


<% content_for :meta_title, "Compensation confirmed" %>
<% content_for :meta_description, "You have successfully cleaned the carbon footprint of your trip by making a donation to #{@compensation.project.name}." %>
<div class="content content-payment">
  <!-- <div class="container" style="margin-top:70px;"> -->
  <div class="container-payment">
    <p class="bold text-center">Empreinte équilibrée</p>
    <ul style="list-style: none">
<!--       <li>Status: <%= @compensation.state %></li> -->
      <% @compensation.trips.each do |trip| %>
        <li>De :
            <%= trip.start_address %>
        </li>
        <li>A :
          <%= trip.destination_address %>
        </li>
        <li>Transport utilisé :
          <strong><%= trip.transportation.category.downcase %></strong>
        </li>
        <br>
        <br>
        <li><strong><%= (km_total(trip.km, trip.number) * trip.transportation.emission).round(2) %> kg/CO2</strong> compensés avec l'association <%= trip.compensation.project.name %>.
        </li>
      <% end %>
      <li>Montant : <%= humanized_money_with_symbol(@compensation.amount) %></li>
    </ul>
  </div>
  <br>
  <!-- </div> -->
  <div class="container text-center">
    <%= link_to "Retour", dashboard_path, class: "btn btn-success" %>
  </div>
</div>
