<style>
  /*.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}*/
.img-round{
  border-radius: 50%;
  height:30vh;
  width: 30vh;
  margin: 16px 0px;
}

/*.content {
  padding-bottom: 70px;
}

.content p {
  font-size: 20px;
}

.content .bold {
  font-weight: bolder;
  font-size: 25px;
}*/
/*
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}*/

/*@media screen and (max-width: 767px) {
    .content {
        padding-bottom: 0;
    }
    .footer {
        position: relative;
        top: auto;
        left: auto;
        height: 70px;
    }
}*/
</style>

<% content_for :meta_title, "Trip compensation" %>
<div class="content">
  <div class="container text-center">
  <p class="bold">A compenser</p>
    <% @compensation.trips.each do |trip| %>
      <p><%= trip.start_address %></p>
      <p class="bold"><i class="fa <%= trip.transportation.icon %>" aria-hidden="true"></i></p>
      <p><%= trip.destination_address %></p>
    <% end %>
  <%= cl_image_tag @compensation.project.logo, :class => "img-round"  %>
  <%= form_tag compensation_payments_path(@compensation) do %>
    <article>
      <label class="amount">
        <span>Amount: <%= humanized_money_with_symbol(@compensation.amount) %></span>
      </label>
    </article>


    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Compensating trip"
      data-email="<%= current_user.email %>"
      data-description="<%=@compensation.trips.first.start_address%> to <%=@compensation.trips.first.destination_address%> trip"
      data-amount="<%= @compensation.amount_cents %>"
      data-currency="<%= @compensation.amount.currency %>"></script>
  <% end %>

</div>
</div>


