<style>
  /*.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}*/
  .img-round{
    border-radius: 50%;
    height:30vh;
    margin: 26px 0px;
  }

.content {
    padding-bottom: 70px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .content {
        padding-bottom: 0;
    }
    .footer {
        position: relative;
        top: auto;
        left: auto;
        height: 70px;
    }
}

</style>

<div class="content">
  <div class="container text-center" style="margin-top:75px">
  <h3>Compensating
    <% @compensation.trips.each do |trip| %>
      <%= "#{trip.start_address} - #{trip.destination_address} " %>
    <% end %>
    trip
  </h3>
  <%= cl_image_tag @compensation.project.logo, :class => "img-round"  %>
  <%= form_tag compensation_payments_path(@compensation) do %>
    <article>
      <label class="amount">
        <span>Amount: <%= humanized_money_with_symbol(@compensation.amount) %></span>
      </label>
    </article>


    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-name="Compensating trip"
      data-email="<%= current_user.email %>"
      data-description="<%=@compensation.trips.first.start_address%> to <%=@compensation.trips.first.destination_address%> trip"
      data-amount="<%= @compensation.amount_cents %>"
      data-currency="<%= @compensation.amount.currency %>"></script>
  <% end %>

</div>
</div>


